body{
	font-family:arial, sans-serif;
	font-size:13px;
}

a{
	text-decoration: none;
	color:black;
}

ul{
	padding:0;
}

ul li{
	display: inline-block;
	padding:0 2%;
}

header{
	float:right;
}

header ul{
	display:table;
	margin-top:5px;
	margin-right:8px;
}

header ul li{
	display:table-cell;
	vertical-align: middle;
	padding: 0 9px;
}

header img{
	height:20px;
}

#name{
	opacity:0.5;
}

#account-img{
	height:35px;
}

#article-wrapper{
	display:table;
	margin:auto;
	clear:both;
	height:72vh;
}

article{
	text-align: center;
	display:table-cell;
	vertical-align: middle;
}

#google-img{
	height:92px;
}

input{
	height:35px;
	width:600px;
	margin:25px;
	font-size:13px;
	padding-left:5px;
}

input:hover{
	border:1px solid rgb(198,198,198);
	height:37px;
}

input:focus{
	outline:0;
	border: 1px solid #61C5FA;
}

#button-wrapper{
	margin-top:15px;
}

button{
	height: 36px;
	padding:0 16px;
	margin: 0 0.5%;
	color:rgb(117,117,117);
	font-weight:bold;
	background-image: -webkit-linear-gradient(top, rgb(245, 245, 245), rgb(241, 241, 241));
	border-radius:2px;
	font-size:13px;
	white-space: nowrap;
	border:rgb(242,242,242);
}

button:focus{
	outline:none;
}

footer{
	position:fixed;
	bottom:0;
	right:-0.5%;
	height:40px;
	width:101%;
	background:#f2f2f2;
	border-top:1px solid #e4e4e4;
}

footer a{
	color: rgb(102,102,102);
}

#left-menu{
	float:left;
	width:46%;
	line-height:17px;
	padding-left:2%;
}

#right-menu{
	float:right;
	width:46%;
	line-height:17px;
	text-align:right;
	padding-right:2%;
}